@page
@model spanish_verbs.Pages.Practice._10VerbsModel
@{
    ViewData["Title"] = "10Verbs";
}
@{
    Random r = new Random(); 
    int num = r.Next(0, 2);
    
}
<h3>Learning 10 Verbs at a time!</h3>
<h1>RandomNumber: @num</h1>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            @if(num == 0)
            {
                <div class="form-group">
                <label asp-for="Word.ToEnglish" class="control-label"></label>
                <input asp-for="Word.ToEnglish" class="form-control" />
                <span asp-validation-for="Word.ToEnglish" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group">
                <label asp-for="Word.ToSpanish" class="control-label"></label>
                <input asp-for="Word.ToSpanish" class="form-control" />
                <span asp-validation-for="Word.ToSpanish" class="text-danger"></span>
                </div>
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>