@page
@model spanish_verbs.Pages._100verbs.IndexModel

@{
    ViewData["Title"] = "Tests";
}

<section>
    <h3>Currently Available Tests:</h3>
    <div class="" style="display: flex">
        <div class="m-2 ">
            <a class="btn btn-primary" asp-area="" asp-page="/Practice/100Verbs">100 Verbs</a>
        </div>
        <div class="m-2 ">
            <a class="btn btn-primary" asp-area="" asp-page="/Practice/10Verbs">10 Verbs</a>
        </div>
    </div>
</section>