<!DOCTYPE html>

<html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Spanish - @ViewData["Title"]</title>
    <meta name="description" content="Practice your memorization of the 100 most common Spanish verbs with our website. 
    We provide interactive verb conjugation practice, flashcards for memorization, and verb lists for reference.">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @*Main*@
    <main role="main" class="">
        @RenderBody()
    </main>
</body>
</html>
