@page
@model spanish_verbs.Pages.Account.IndexModel
@{
}

<section class="m-5">
    <h1 class="display-4">Your Stats</h1>
    <div class="m-4 p-4">
        <h4 class="">Your Quizes</h4>
        <div>
            <h6>Active Streak: </h6>
            <h6>Tests Completed: </h6>
            <h6>Average Score: </h6>
            <h6>Account Created: @Model.ApplicationUser.DateAccountCreated</h6>
        </div>
    </div>

</section>