html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

:root {
    --Primary-col: #ffa500;
    --Secondary-col: #1e90ff;
    --Background-Dark-col: #333333;
    --Background-Light-col: whitesmoke;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
}

#login {
    border-radius: 5px;
    background-color: #0083ff;
    color: whitesmoke !important;
    padding: 7px 20px;
}

section:nth-child(2n) {
    background-color: whitesmoke;
}

/*Home page*/
section {
}

.table-title {
    margin: 60px auto 10px;
    text-align: center;
}

#table {
    max-width: 700px;
}

    #table thead {
    }

    #table tbody tr th {
        color: Highlight;
    }

.learn-more {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.flex-item-home-verb {
    margin: 5px 0;
    width: max-content;
}

.flex-container {
    display: flex;
}

.flex-nav {
    background-color: aqua;
}

#quiz-cards {
    margin: 100px auto;
    flex-wrap: wrap;
}

#quiz-card {
    margin: 20px;
}

input:focus {
    outline: none;
    border: 2px solid red;
}

/* Practice Index*/
.test {
}

/* Practice 100Verbs*/
form {
}

.card-deck {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: 30%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    color: #555;
}

/* ICONS */
.icon svg path {
    stroke: black !important;
    fill: transparent !important;
}

.icon svg {
    stroke: black !important;
    fill: transparent !important;
}

.icon:hover svg path {
    stroke: #0083ff !important;
    fill: transparent !important;
}

.icon:hover svg {
    stroke: #0083ff !important;
    fill: transparent !important;
}

.quiz-exit {
    color: black;
}
.quiz-exit:hover {
    color: darkred;
}

/* For screens smaller than 768px*/
@media screen and (max-width: 768px) {
    .card-deck {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 100%;
    }

    header {
        z-index: 1030;
    }

    #nav {
        position: fixed;
        right: 0;
        bottom: 0;
        left: 0;
        border-top: 1px solid #dee2e6;
        justify-content: center;
    }

        #nav div ul {
            justify-content: center;
            align-items: center;
        }

    .lightning-head {
        display: none;
    }

    .quiz-head {
        margin: 5px 10px 10px 3px;
    }

    .bar-size {
        background-color: aquamarine;
        height: 2rem;
    }

    input.form-control {
        width: calc(100% - 84px);
        max-width: 200px;
        
    }

    .btn-quiz-next {
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        margin-bottom: 1vh;
    }
}

/* For screens Bigger than 768px*/
@media screen and (min-width: 769px) {
    header {
        border-right: 1px solid #dee2e6;
        z-index: 1030;
        position: sticky;
        top: 0;
    }

    .sidebar {
        display: flex;
    }

    #nav {
        border-right: 1px solid #dee2e6;
        height: 100%;
        align-items: start;
    }

        #nav div {
            flex-direction: column;
        }

            #nav div ul {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            #nav div div {
                margin: inherit 40px;
            }

    .lightning-sidebar {
        display: none;
    }

    .quiz-head {
        margin: 50px 10px 10px;
    }

    .bar-size {
        height: 32px !important;
        
    }

        .bar-size div {
        }

    input.form-control {
        width: calc(100% - 84px);
        max-width: 240px;
    }

    .btn-quiz-next {
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        margin-bottom: 8vh;
    }
}

@media screen and (min-width: 1024px) {
    .quiz-head {
        margin: 50px auto 10px;
        max-width: 950px;
    }

    .bar-size {
        height: 32px !important;
    }

        .bar-size div {
        }

    .btn-quiz-next {
        bottom: 0;
        left: 0;
        right: 0;
        position: fixed;
        margin-bottom: 10vh;
    }
}