@page
@model IndexModel
@{
    ViewData["Title"] = "100 Verbs";
}

<section>
    <div class="text-center">
        <h1 class="display-2">100 Verbs</h1>
        <h3 class="display-6">Learn the most common Spanish verbs!</h3>
    </div>

    <div class="card-deck container mt-5" style="max-width: 850px">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Foundation of Spanish</h5>
                <p class="card-text">100 Verbs focuses on teaching you the 100 most common Spanish verbs, which are the building blocks of the language. By mastering these verbs, you'll be able to start using Spanish in real-life situations much faster.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Track Your Progress</h5>
                <p class="card-text">With 100 Verbs, you can track your progress over time, so you can see how much you've improved and where you need to focus your efforts.</p>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Incremental Learning</h5>
                <p class="card-text">Learn verbs at your own pace, 100 verbs gives you short quizes of 10 verbs at a time.</p>
            </div>
        </div>
    </div>


    <h4 class="table-title">Top 10 verbs</h4>
    <table class="table table-striped table-hover container-xl" id="table">
        <thead class="thead-dark">
            <tr>
                <td scope="col">
                    @Html.DisplayNameFor(model => model.Words[0].ToEnglish)
                </td>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Words[0].ToSpanish)
                </th>
            </tr>
        </thead>
        <tbody>
             @for (int i = 0; i < 10; i++)
            {
                <tr>
                    <td scope="row">
                    @Html.DisplayFor(modelItem => Model.Words[i].ToEnglish)
                    </td>
                    <th>
                    @Html.DisplayFor(modelItem => Model.Words[i].ToSpanish)
                    </th>
                </tr>
            }
        </tbody>
    </table>

    <div class="learn-more" style="margin: 50px auto">
        <h4 class="flex-item-home-verb display-5 mb-4">Start Learning Spanish!</h4>
        <a class="flex-item-home-verb btn btn-primary btn-lg" asp-area="" asp-page="/Practice/index">Practice</a>
    </div>
</section>