@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<h1>TEMP FILLER</h1>
<h1>TEMP FILLER</h1>
<h1>TEMP FILLER</h1>
<h1>TEMP FILLER</h1>
<h1>TEMP FILLER</h1>
<p>At Practice Your Spanish Verbs, we are committed to protecting the privacy and security of our users' personal information. This Privacy Policy explains how we collect, use, and disclose personal information through our website.</p>

<h2>Information We Collect</h2>

<p>We collect the following types of personal information when you use our website:</p>

<ul>
    <li>Your name and email address if you register for an account</li>
    <li>Your IP address and other information about your device and browser</li>
    <li>Your activity on our website, including which pages you visit and how you interact with our tools and features</li>
</ul>

<h2>How We Use Your Information</h2>

<p>We use your personal information to:</p>

<ul>
    <li>Create and maintain your account</li>
    <li>Provide our interactive verb conjugation practice, flashcards, and verb lists to you</li>
    <li>Improve our website and develop new features and tools</li>
    <li>Communicate with you about your account, our website, and our services</li>
</ul>

<h2>How We Share Your Information</h2>

<p>We do not sell or rent your personal information to third parties. However, we may share your personal information with third-party service providers who help us provide our website and services, such as hosting and analytics services.</p>

<h2>Cookies and Other Tracking Technologies</h2>

<p>We use cookies and other tracking technologies to collect information about your use of our website. Cookies are small data files that are placed on your device when you visit our website. They allow us to remember your preferences and personalize your experience on our website. We may also use cookies and other tracking technologies for analytics purposes and to serve targeted ads.</p>

<h2>Your Choices</h2>

<p>You can control cookies and other tracking technologies through your browser settings. However, please note that disabling cookies may limit your ability to use certain features of our website.</p>

<h2>Changes to this Privacy Policy</h2>

<p>We may update this Privacy Policy from time to time to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify you of any material changes to this Privacy Policy by posting a notice on our website or by other means.</p>

<h2>Contact Us</h2>

<p>If you have any questions or concerns about our privacy practices, please contact us at privacy@practiceyourspanishverbs.com.</p>